# Supabase Configuration
VITE_SUPABASE_URL=your-url
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your-key
VITE_VIDEO_URL = your-video-url
# Example:
# VITE_SUPABASE_URL=https://your-project.supabase.co
# VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your-PUBLISHABLE-DEFAULT-KEY-from-supabase